.filter {
	border: 4px solid #72c9d4;

    &__title {
	padding: 25px 15px 5px 15px;
	color: #36949f;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
&__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
&__btn {
	padding: 0px 15px;
	text-transform: none;
}
}
.section-filter {
	padding: 15px;
	border-bottom: 1px solid #72c9d4;
	&:last-child {
		border: 0;
	}

    &__title {
	color: #36949f;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	min-height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	&._spoller {
		cursor: pointer;
		&::after {
			content: "";
			border-radius: 50%;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 30px;
			flex: 0 0 30px;
			width: 30px;
			height: 30px;
			border: 1px solid #72c9d4;
			background: url("../icons/li_arrow.png") center no-repeat;
		}
		&._active {
			color: #000;
			&::after {
				border: 1px solid #cbcbcb;
				background: url("../icons/spoller-arrow.png") center no-repeat;
			}
		}
		& + .section-filter__body {
			display: none;
		}
	}
}
&__body {
	padding: 15px 0px 0px 0px;
}
&__checkbox {
	display: block;
	margin: 0px 0px 15px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
}
.values-price-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -15px;

&__column {
	padding: 0px 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
&__label {
	color: #999999;
	font-size: 12px;
	font-weight: 300;
}
&__input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0px 0px 0px 10px;
	.input {
		font-size: 12px;
		padding: 0px 10px;
		height: 20px;
	}
}
}.compare-filter{
    &__items {
	padding: 0px 13px 0px 0px;
	margin: 0px 0px 20px 0px;
}
&__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0px 0px 10px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
&__link {
	line-height: 16px;
	color: #1ab9ce;
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
}
&__remove {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 10px;
	flex: 0 0 10px;
	width: 10px;
	height: 10px;
	margin: 3px 0px 0px 5px;
	background: url("../icons/remove.png") 0 0 no-repeat;
}
&__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
&__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 33px;
	background-color: #1ab9ce;
	padding: 0px 13px;
	border-radius: 25px;
	span {
		background: url("../icons/compare.png") left no-repeat;
		padding: 0px 0px 0px 30px;
		line-height: 33px;
		display: inline-block;
		text-transform: uppercase;
		color: #fff;
		font-weight: 900;
	}
}
&_clean {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #e6e6e6 url("../icons/trash.png") center no-repeat;
}
}
.catalog__title {
	color: #dadada;
	font-family: "UniSans";
	font-size: 30px;
	line-height: 130%;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}
.catalog__actions {
	margin: 0px 0px 15px 0px;
}
.actions-catalog {
	background-color: #f3f3f3;
	padding: 10px 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.order-catalog__label {
	margin: 0px 20px 0px 0px;
	color: #333333;
	font-size: 14px;
	font-weight: 900;
}
.view-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.view-catalog__item {
	cursor: pointer;
	width: 36px;
	height: 36px;
	margin: 0px 0px 0px 8px;
}
.view-catalog__item_grid {
	background: #ffffff url("../icons/grid.svg") center no-repeat;
}
.view-catalog__item_list {
	background: #4da0b9 url("../icons/list.svg") center no-repeat;
}
.navi-catalog {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: 10px 15px;
}
.navi-catalog_top {
	margin: 0px 0px 23px 0px;
}
.show-catalog__label {
	margin: 0px 20px 0px 0px;
	color: #333333;
	font-size: 14px;
	font-weight: 900;
}
